<!doctype html>
<html ng-app="app">
  <header>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
    <script language="javascript" type="text/javascript">
      angular.module('app', []);
      
      //Whatever you put on the controller scope,
      //will be availalble in the HTML element bound to the controller.
      function MyController($scope){
        $scope.newMessage = "Hi";
        $scope.messages = ["What's up?", "Yo!"]; 
        
        $scope.add = function(){
          $scope.messages.push($scope.newMessage);
        };
        
        $scope.my_alert = function(){
          alert('the message in the box is '+$scope.newMessage);
        };
        
      }
    </script>
  </header>
  
  <body ng-controller="MyController">
    Uncomment the code provided to leave a message or popup an alert:<br>     
    <input type="text" ng-model="newMessage">
    <input type="submit" ng-click="add()" value="new message">
    <input type="submit" ng-click="my_alert()" value="Alert message">
    
    <br>
    Messages: <br>
    <ul>
      <li ng-repeat="message in messages">
        {{message}}
      </li>
    </ul>
  </body>
  
</html>
